<launch>
  <arg name="prefix" default="$(env HOME)/.ros/neatness_estimator" />

  <node name="difference_reasoner"
        pkg="nodelet" type="nodelet"
        args="standalone neatness_estimator/DifferenceReasoner"
        output="screen">
    <rosparam subst_value="true">
      prefix: $(arg prefix)
      bin_size: 10
      histogram_policy: 0
      white_threshold: 0.3
      black_threshold: 0.2
    </rosparam>

  </node>

</launch>
