<launch>
  <arg name="prefix" default="$(env HOME)/.ros/neatness_estimator" />
  <arg name="de_node_name" default="distance_estimator" />

  <node name="$(arg de_node_name)"
        pkg="neatness_estimator" type="distance_estimator.py"
        output="screen">
    <rosparam command="load"
              file="$(find neatness_estimator)/models/mask_rcnn_labels_191023.yaml" />
    <rosparam subst_value="true">
      prefix: $(arg prefix)
    </rosparam>
  </node>

</launch>
