<launch>
  <arg name="manager" value="camera_remote_nodelet_manager" />
  <node pkg="nodelet" type="nodelet" name="$(arg manager)"
        args="manager"  output="screen"/>

  <!-- <node name="rgb_image_republish" -->
  <!--       pkg="image_transport" type="republish" -->
  <!--       output="screen" args="compressed raw"> -->
  <!--   <remap from="in" to="/camera_remote/rgb/image_rect_color" /> -->
  <!--   <remap from="out" to="/camera_remote/rgb/image_rect_color" /> -->
  <!-- </node> -->

  <arg name="respawn" value="false" />
  <arg if="$(arg respawn)" name="bond" value="" />
  <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

  <node pkg="nodelet" type="nodelet" name="points_xyzrgb_hw_registered"
        args="load depth_image_proc/point_cloud_xyzrgb $(arg manager) $(arg bond)"
        respawn="$(arg respawn)">
    <remap from="rgb/image_rect_color"        to="/camera_remote/rgb/image_rect_color"/>
    <remap from="rgb/camera_info"             to="/camera_remote/rgb/camera_info"/>
    <remap from="depth_registered/image_rect" to="/camera_remote/depth_registered/hw_registered/image_rect_raw"/>
    <remap from="depth_registered/points"     to="/camera_remote/depth_registered/points"/>
  </node>
</launch>
