<launch>
  <arg name="model_path" default="$(find neatness_estimator)/trained_data/sample.csv" />
  
  <node name="get_motion_primitive_server"
        pkg="neatness_estimator" type="get_motion_primitive.py"
        output="screen">
    <rosparam subst_value="true">
      model_path: $(arg model_path)
    </rosparam>
  </node>

</launch>
