<launch>
  <arg name="pr2" default="true"/>
  <arg name="aero" default="false"/>

  <arg name="INPUT_CLOUD" value="/head_mount_kinect/hd/republished_points"
       if="$(arg pr2)"/>
  <arg name="INPUT_CLOUD" value="/remote/point_cloud/cloud_registered/remote"
       if="$(arg aero)"/>

  <!--Extracting blue objects -->
  <arg name="h_max" default="127" />
  <arg name="h_min" default="-128" />
  <arg name="s_max" default="255" />
  <arg name="s_min" default="75" />
  <arg name="i_max" default="255" />
  <arg name="i_min" default="60" />

  <node name="hsi_filter_manager"
        pkg="nodelet" type="nodelet"
        args="manager"/>

  <node name="hsi_color_filter"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/HSIColorFilter hsi_filter_manager">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <rosparam>
      use_indices: false
      keep_organized: true
    </rosparam>
    <param name="h_limit_max" value="$(arg h_max)" />
    <param name="h_limit_min" value="$(arg h_min)" />
    <param name="s_limit_max" value="$(arg s_max)" />
    <param name="s_limit_min" value="$(arg s_min)" />
    <param name="i_limit_max" value="$(arg i_max)" />
    <param name="i_limit_min" value="$(arg i_min)" />
  </node>

  <node name="color_filter_euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/EuclideanClustering hsi_filter_manager"
        output="screen">
    <remap from="~input" to="hsi_color_filter/output" />
    <rosparam>
      tolerance: 0.02
      min_size: 300
      max_size: 100000
    </rosparam>
  </node>

  <node name="color_filter_cluster_decomposer"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposer hsi_filter_manager"
        output="screen" clear_params="true">
    <remap from="~input" to="hsi_color_filter/output" />
    <remap from="~target" to="color_filter_euclidean_clustering/output" />
    <rosparam>
      align_boxes: true
      align_boxes_with_plane: false
      approximate_sync: true
      queue_size: 300
      target_frame_id: base_link
      sort_by: cloud_size
    </rosparam>
  </node>

</launch>
