<launch>
  <node name="labeled_bounding_box_publisher"
        pkg="neatness_estimator" type="labeled_bounding_box_publisher.py"
        output="screen">
    <remap from="~input/cluster_boxes" to="cluster_point_indices_decomposer/boxes"/>
    <remap from="~input/instance_boxes" to="instance_cluster_point_indices_decomposer/boxes"/>
    <remap from="~input/instance_labels" to="/mask_rcnn_instance_segmentation/output/labels"/>
    <rosparam subst_value="true">
      approximate_sync: true
    </rosparam>
  </node>
</launch>
