<launch>
  <arg name="input_image" default="/openni_camera/rgb/image_rect_color" />
  <arg name="input_cloud" default="/openni_camera/depth_registered/points" />

  <include file="$(find neatness_estimator)/launch/mask_rcnn_clustering.launch">
    <arg name="input_image" value="$(arg input_image)"/>
    <arg name="input_cloud" value="$(arg input_cloud)"/>
  </include>

  <include file="$(find neatness_estimator)/launch/multi_euclidean_clustering.launch">
    <arg name="input_cloud" value="$(arg input_cloud)"/>
  </include>

  <include file="$(find neatness_estimator)/launch/vision_server.launch"/>

  <include file="$(find neatness_estimator)/launch/neatness_estimator.launch"/>

</launch>
