<launch>
  <arg name="gpu" default="0"/>

  <arg name="info" default="/openni_camera/rgb/camera_info" />
  <arg name="input_image" default="/remote/openni_camera/rgb/image_rect_color" />
  <arg name="input_cloud" default="/remote/point_cloud/cloud_registered/remote" />

  <!-- <arg name="info" default="/head_mount_kinect/hd/camera_info" /> -->
  <!-- <arg name="input_image" default="/head_mount_kinect/hd/image_color_rect" /> -->
  <!-- <arg name="input_cloud" default="/head_mount_kinect/hd/republished_points" /> -->

  <arg name="input_label" default="mask_rcnn_instance_segmentation/output/label_cls" />
  <arg name="input_labels" default="/mask_rcnn_instance_segmentation/output/labels" />

  <arg name="score_thresh" default="0.75"/>
  <arg name="eco_mode" default="false"/>
  <arg name="visualize" default="false" />
  <arg name="thresh" default="0.2" />

  <node name="mask_rcnn_instance_segmentation"
        pkg="jsk_perception" type="mask_rcnn_instance_segmentation.py"
        clear_params="true">
    <remap from="~input" to="$(arg input_image)" />
    <rosparam command="load"
              file="$(find neatness_estimator)/models/mask_rcnn_labels.yaml" />
    <rosparam subst_value="true">
      pretrained_model: $(find neatness_estimator)/trained_data/fcsc_instance_segmentation_181229.npz
      gpu: $(arg gpu)
    </rosparam>
  </node>

  <node name="instance_cluster_point_indices_decomposer"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposer">
    <remap from="~input" to="$(arg input_cloud)" />
    <remap from="~target" to="/mask_rcnn_instance_segmentation/output/cluster_indices" />
    <rosparam>
      align_boxes: true
      align_boxes_with_plane: false
      approximate_sync: true
      queue_size: 100
      target_frame_id: base_link
      sort_by: input_indices
    </rosparam>
  </node>

  <node name="multi_euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="standalone neatness_estimator/MultiEuclideanClustering"
        output="screen">
    <remap from="~input_cluster_indices" to="/instance_cluster_point_indices_decomposer/cluster_indices" />
    <remap from="~input_point_cloud" to="$(arg input_cloud)" />
    <rosparam subst_value="true">
      cluster_tolerance: 0.008
      min_size: 100
      max_size: 25000
      approximate_sync_: false
    </rosparam>
  </node>

  <node name="multi_euclidean_cluster_point_indices_decomposer"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposer">
    <remap from="~input" to="$(arg input_cloud)" />
    <remap from="~target" to="/multi_euclidean_clustering/output_indices" />
    <rosparam>
      align_boxes: true
      align_boxes_with_plane: false
      approximate_sync: false
      queue_size: 100
      target_frame_id: base_link
      sort_by: input_indices
      use_pca: true
    </rosparam>
  </node>

  <node name="labeled_bounding_box_publisher"
        pkg="neatness_estimator" type="labeled_bounding_box_publisher.py"
        output="screen">
    <rosparam command="load"
              file="$(find neatness_estimator)/models/mask_rcnn_labels.yaml" />
    <remap from="~input/instance_boxes" to="/multi_euclidean_cluster_point_indices_decomposer/boxes"/>
    <remap from="~input/instance_labels" to="/mask_rcnn_instance_segmentation/output/labels"/>
    <rosparam subst_value="true">
      approximate_sync: true
      with_cluster_box: false
    </rosparam>
  </node>

</launch>
