<launch>
  <arg name="downsample" default="true"/>
  <arg name="input_cloud" default="/openni_camera/depth_registered/points" />
  <arg name="input_cluster_indices" default="/instance_cluster_point_indices_decomposer/cluster_indices" />
  <arg name="labels" default="mask_rcnn_labels.yaml" />
  <arg name="target_frame" default="base_link" />

  <include file="$(find neatness_estimator)/launch/multi_euclidean_clustering.launch">
    <arg name="input_cloud" value="$(arg input_cloud)" />
    <arg name="input_cluster_indices" value="$(arg input_cluster_indices)" />
  </include>

  <node name="multi_euclidean_cluster_point_indices_decomposer"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposer">
    <remap from="~input" to="$(arg input_cloud)" />
    <remap from="~target" to="/multi_euclidean_clustering/output_indices" />
    <rosparam subst_value="true">
      align_boxes: false
      align_boxes_with_plane: false
      approximate_sync: false
      queue_size: 100
      target_frame_id: $(arg target_frame)
      sort_by: input_indices
      use_pca: true
    </rosparam>
  </node>

  <node name="multi_euclidean_cluster_point_indices_decomposer_aligned"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/ClusterPointIndicesDecomposer">
    <remap from="~input" to="$(arg input_cloud)" />
    <remap from="~target" to="/multi_euclidean_clustering/output_indices" />
    <rosparam subst_value="true">
      align_boxes: true
      align_boxes_with_plane: false
      approximate_sync: false
      queue_size: 100
      target_frame_id: $(arg target_frame)
      sort_by: input_indices
      use_pca: false
    </rosparam>
  </node>

  <node name="labeled_bounding_box_publisher"
        pkg="neatness_estimator" type="labeled_bounding_box_publisher.py"
        output="screen">
    <rosparam command="load"
              file="$(find neatness_estimator)/models/$(arg labels)" />
    <remap from="~input/instance_boxes" to="/multi_euclidean_cluster_point_indices_decomposer/boxes"/>
    <remap from="~input/instance_labels" to="/mask_rcnn_instance_segmentation/output/labels"/>
    <rosparam subst_value="true">
      approximate_sync: true
      with_cluster_box: false
    </rosparam>
  </node>

  <node name="labeled_bounding_box_publisher_aligned"
        pkg="neatness_estimator" type="labeled_bounding_box_publisher.py"
        output="screen">
    <rosparam command="load"
              file="$(find neatness_estimator)/models/$(arg labels)" />
    <remap from="~input/instance_boxes" to="/multi_euclidean_cluster_point_indices_decomposer_aligned/boxes"/>
    <remap from="~input/instance_labels" to="/mask_rcnn_instance_segmentation/output/labels"/>
    <rosparam subst_value="true">
      approximate_sync: true
      with_cluster_box: false
    </rosparam>
  </node>

  <node name="cluster_box_publisher"
        pkg="neatness_estimator" type="cluster_box_publisher.py"
        output="screen">
    <remap from="~input"
           to="/labeled_bounding_box_publisher_aligned/output/labeled_instance_boxes" />
    <remap from="~output"
           to="/labeled_bounding_box_publisher_aligned/output/labeled_cluster_boxes" />
    <rosparam command="load" file="$(find neatness_estimator)/models/$(arg labels)" />
    <rosparam subst_value="true">
      thresh: 0.5
    </rosparam>
  </node>

</launch>
