<launch>
  <arg name="thresh" default="0.8" />
  <arg name="labels" default="mask_rcnn_labels.yaml" />

  <node name="neatness_estimator"
        pkg="neatness_estimator" type="neatness_estimator.py"
        output="screen">
    <remap from="~input/cluster_boxes"
           to="/labeled_bounding_box_publisher/output/labeled_cluster_boxes"/>
    <remap from="~input/instance_boxes"
           to="/labeled_bounding_box_publisher/output/labeled_instance_boxes"/>
    <rosparam command="load"
              file="$(find neatness_estimator)/models/$(arg labels)" />
    <rosparam subst_value="true">
      approximate_sync: false
      thresh: $(arg thresh)
    </rosparam>
  </node>
</launch>
