<launch>
  <arg name="save_log" default="false" />
  <arg name="thresh" default="0.4" />

  <node name="neatness_estimator2"
        pkg="neatness_estimator" type="neatness_estimator2.py"
        output="screen">
    <remap from="~input/instance_boxes"
           to="/labeled_bounding_box_publisher/output/labeled_instance_boxes"/>
    <rosparam command="load"
              file="$(find neatness_estimator)/models/mask_rcnn_labels.yaml" />
    <rosparam subst_value="true">
      approximate_sync: true
      thresh: $(arg thresh)
    </rosparam>
  </node>
</launch>
